.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}

@media (max-width: 480px) {
  .header {
    flex-direction: row;
    gap: 1rem;
  }

  .header>div {
    align-self: flex-end;
  }
}
